@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {

  [data-theme="light"] {
    --color-background: #F9FAFB;
    --color-foreground: #171717;
    --color-border: #232323;
    --color-input-background: #FFFFFF;
    --color-input-border: #30363d;
    --color-input-text: #171717;
    --color-muted: #7b7b7b;
  }

  [data-theme="dark"] {
    --color-background: #171717;
    --color-foreground: #F9FAFB;
    --color-border: #232323;
    --color-input-background: #232326;
    --color-input-border: #30363d;
    --color-input-text: #F9FAFB;
    --color-muted: #7b7b7b;
  }
}

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-border: var(--color-border);
  --color-input-background: var(--color-input-background);
  --color-input-border: var(--color-input-border);
  --color-input-text: var(--color-input-text);
  --color-muted: var(--color-muted);
}

html, body {
  @apply m-0 p-0 box-border;
}
